.post {
  width: 550px;
  margin: 30px 40px 50px 40px;
}

.post__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 0px;
}

.post__headerAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
  color:#000000;
}

.post__headerAuthor > span {
  color:#d1c9c9 ;
  font-size: 15px;
  margin-left: 5px;
}

.post__image > img {
  width: 100%;
  border-radius: 6px;
  border: 0.6px solid rgba(128, 128, 128, 0.516);
}



.post__footerIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.postIcon {
  padding: 7px;
  font-size: 42px;
}

.postIcon :hover {
  cursor: pointer;
}

.post__footer {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 0px;
  height: 100px;
  border-bottom: 1.6px solid #ebe4e4;
  margin-bottom: -20px;
}
